/* Importation de la police Google Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

/* Importation de la police pixelisée */
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/* Réinitialisation des styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%; /* Remise à zéro de la taille de la police */
    overflow-x: hidden; /* Empêche le défilement horizontal */
}

/* Styles pour l'en-tête */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
}

.logo {
    font-size: 3rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
    position: absolute;
    right: 2rem;
    top: 1rem;
}

.logo:hover {
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s;
}

/* Styles pour les réseaux sociaux */
.social-media {
    display: flex;
    align-items: center;
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: rgba(0, 128, 0, 0.5);
    border-radius: 6px;
    text-decoration: none;
    margin-right: 1rem;
    transition: .5s;
}

.social-media a i {
    font-size: 2rem;
    color: #fff;
}

.social-media a:hover {
    background: rgba(0, 128, 0, 0.7);
}

/* Styles pour la barre de navigation */
.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}

.navbar a {
    font-size: 1.8rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 3rem;
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

/* Styles pour la section de la bannière */
.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s;
    opacity: 0;
}

.slide img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    z-index: -1;
}

.slide.active {
    opacity: 1;
}

.slide .content, .slide .right-info {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;
}

.slide .content {
    left: 10%;
    right: 10%;
}

.slide .right-info {
    right: 10%;
    left: 10%;
}

.content h3 {
    font-size: 8vw; /* Increase font size */
    color: #460000;
    text-shadow: 0 0 2rem #ff6161;
    font-family: 'VT323', monospace;
    margin-bottom: 2rem;
}

.content p {
    font-size: 2vw;
    bottom: 6rem;
    margin-bottom: 2rem;
    color: #fff; /* Change text color to white */
}

.content .btn {
    display: inline-block;
    padding: 1rem 2rem;
    background: #fff;
    border: 0.2rem solid #fff;
    border-radius: 0.8rem;
    box-shadow: 0 0 1rem #fff;
    font-size: 2rem;
    color: #444;
    text-decoration: none;
    font-weight: 600;
    transition: .5s;
    margin-top: 1rem; /* Add margin to space out from other text */
}

.content .btn:hover {
    background: transparent;
    color: #fff;
}

.right-info h1 {
    font-size: 6vw;
    color: #c92323;
    margin-bottom: 2rem;
    text-shadow: 
        0 0.1rem 0 #ccc,
        0 0.2rem 0 #c9c9c9,
        0 0.3rem 0 #bbb,
        0 0.4rem 0 #b9b9b9,
        0 0.5rem 0 #aaa,
        0 0.6rem 0.1rem rgba(0, 0, 0, .1),
        0 0 0.5rem rgba(0, 0, 0, .1),
        0 0.1rem 0.3rem rgba(0, 0, 0, .3),
        0 0.3rem 0.5rem rgba(0, 0, 0, .2),
        0 0.5rem 1rem rgba(0, 0, 0, .25),
        0 1rem 1rem rgba(0, 0, 0, .2),
        0 2rem 2rem rgba(0, 0, 0, .15);
}

.right-info h3 {
    font-size: 2vw;
    color: #f96b6b;
    text-shadow: 0 0 1rem rgba(0, 0, 0, .5);
    margin-top: 2rem;
}

.content .specific-image, 
.content .specific-image1, 
.content .specific-image2, 
.content .specific-image3, 
.content .specific-image4, 
.content .specific-image5 {
    position: absolute;
}

.content .specific-image {
    width: 8vw;
    height: 8vw;
    bottom: -19vh;
}

.content .specific-image1 {
    width: 8vw;
    height: 8vw;
    bottom: 35vh;
    right: 59vw;
}

.content .specific-image2 {
    width: 35vw;
    height: 35vw;
    bottom: 50vh;
    right: -60vw;
}

.content .specific-image3 {
    width: 45vw;
    height: 45vw;
    bottom: -48vh;
    right: 40vw;
}

.content .specific-image4 {
    width: 50vw;
    height: 50vw;
    bottom: -78vh;
    right: -80vw;
}

.content .specific-image5 {
    width: 25vw;
    height: 15vw;
    bottom: 5vh;
    right: -5vw;
}

#demo1, #demo2 {
    position: absolute;
    font-size: 1vw; /* Adjust font size for demos */
    color: #fff;
}

#demo1 {
    bottom: -5vh; /* Place demo 1 at the bottom */
    left: 45vw;
    transform: translate(-50%, -50%);
}

#demo2 {
    bottom: -5vh; /* Place demo 2 at the bottom */
    left: 55vw;
    transform: translate(-50%, -50%);
}
